<ul>
  <% @links.each do |link| %>
    <li>
    	<p><%= link_to link.title, link.url %></p>
    	<p><%= link_to "coments", link %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Add a link", new_link_path %>
<%= will_paginate @links %>